@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Authorization
@using BlazorUI.Pages.Authentication

@if(AuthenticationStateTask.Result.User.Identity != null && AuthenticationStateTask.Result.User.Identity.IsAuthenticated)
{
    <AuthorizeView>
        <div class="container-fluid">
            <ClinicNavMenu/>
            <div class="row">
                <div class="col" style="margin-left: 20px;">
                    @Body
                </div>
            </div>
        </div>
    </AuthorizeView>
}
else
{
    <LoginPage></LoginPage>
}

@code 
{
    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; }
}